@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

* {
    background-color: #1a1a1a;
    color: #888888;
    font-family: 'Fira Mono', monospace;
}

a,
h1,
h2,
h3,
p {
    text-align: center;
}

h1 {
    color: white;
}

.accent {
    color: #E6E6FA!important;
}