html,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

.pane {
    position: absolute;
    top: 1vh;
    left: 1vw;
    height: 98vh;
    border: 1px solid white;
}

.half {
    width: 48vw;
}

#left {
    left: 0;
}

#right {
    left: 51vw;
}