html,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

.pane {
    position: absolute;
    top: 1vh;
    height: 98vh;
    border: 1px solid white;
}

#left {
    left: 0.5vw;
    width: 40vw;
}

#right {
    left: 41.5vw;
    width: 58vw;
}

.character {
    border: 1px dashed white;
}