@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

* {
    background-color: #1a1a1a;
    color: #888888;
    font-family: 'Fira Mono', monospace;
    z-index: 10;
    font-size: 1rem;
}

hr {
    border-color: #87CEEB;
}

a,
h1,
h2,
h3,
p {
    width: 100%;
    text-align: center;
}

h1 {
    color: white;
}

a {
    text-decoration: none;
    color: #B9A5E2;
}

.function {
    color: #B9A5E2; /* Lavender */
}

.variable {
    color: #FFF; /* White */
}

.constant {
    color: #87CEEB; /* Sky Blue */
}